<nav class="navigation">
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li class="dropdown">

      <a routerLink="/categories" class="dropdown-toggle">Categories</a>

      <a href="#" class="dropdown-toggle">Categories</a>

      <ul class="dropdown-menu">
        <li><a routerLink="/categories/Programming" routerLinkActive="active">Programming</a></li>
        <li><a routerLink="/categories/design" routerLinkActive="active">Design</a></li>
        <li><a routerLink="/categories/math" routerLinkActive="active">Math</a></li>
      </ul>
    </li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/add-resource" routerLinkActive="active">Add Resource</a></li>
  </ul>
</nav>