
.app-container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;

app-header {
  
  width: 100%;
  
}

app-navigation-menu {
  
  width: 100%;
 
}

.content {
  flex-grow: 1; 

  padding: 20px;
}

app-footer {
  
  width: 100%;
 
  text-align: center;
  padding: 10px 0;
}